In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt

Loading the CSV into the dataframe

In [30]:
df = pd.read_csv('US_Hate_Crimes.csv')
print(df)

        INCIDENT_ID  DATA_YEAR        ORI PUB_AGENCY_NAME PUB_AGENCY_UNIT  \
0              3015       1991  AR0040200          Rogers             NaN
1              3016       1991  AR0290100            Hope             NaN
2                43       1991  AR0350100      Pine Bluff             NaN
3                44       1991  AR0350100      Pine Bluff             NaN
4              3017       1991  AR0350100      Pine Bluff             NaN
...             ...        ...        ...             ...             ...
219572      1318026       2020  WY0170100        Sheridan             NaN
219573      1142103       2020  WY0210100        Evanston             NaN
219574      1318018       2020  WY0210100        Evanston             NaN
219575      1318022       2020  WY0210100        Evanston             NaN
219576      1318023       2020  WY0210100        Evanston             NaN

       AGENCY_TYPE_NAME STATE_ABBR STATE_NAME       DIVISION_NAME REGION_NAME  \
0                  City         AR   Arkansas  West South Central       South
1                  City         AR   Arkansas  West South Central       South
2                  City         AR   Arkansas  West South Central       South
3                  City         AR   Arkansas  West South Central       South
4                  City         AR   Arkansas  West South Central       South
...                 ...        ...        ...                 ...         ...
219572             City         WY    Wyoming            Mountain        West
219573             City         WY    Wyoming            Mountain        West
219574             City         WY    Wyoming            Mountain        West
219575             City         WY    Wyoming            Mountain        West
219576             City         WY    Wyoming            Mountain        West

        ...              OFFENDER_RACE      OFFENDER_ETHNICITY VICTIM_COUNT  \
0       ...                      White                     NaN            1
1       ...  Black or African American                     NaN            1
2       ...  Black or African American                     NaN            1
3       ...  Black or African American                     NaN            2
4       ...  Black or African American                     NaN            1
...     ...                        ...                     ...          ...
219572  ...                      White  Not Hispanic or Latino            2
219573  ...                    Unknown                 Unknown            1
219574  ...  Black or African American  Not Hispanic or Latino            1
219575  ...                      White  Not Hispanic or Latino            1
219576  ...                      White  Not Hispanic or Latino            1

                                             OFFENSE_NAME  \
0                                            Intimidation
1                                          Simple Assault
2                                      Aggravated Assault
3       Aggravated Assault;Destruction/Damage/Vandalis...
4                                      Aggravated Assault
...                                                   ...
219572                                       Intimidation
219573           Destruction/Damage/Vandalism of Property
219574                                 Aggravated Assault
219575                                     Simple Assault
219576                                Theft From Building

        TOTAL_INDIVIDUAL_VICTIMS                       LOCATION_NAME  \
0                            1.0  Highway/Road/Alley/Street/Sidewalk
1                            1.0  Highway/Road/Alley/Street/Sidewalk
2                            1.0                      Residence/Home
3                            1.0  Highway/Road/Alley/Street/Sidewalk
4                            1.0                 Service/Gas Station
...                          ...                                 ...
219572                       2.0                     Park/Playground
219573                       0.0                     Park/Playground
219574                       1.0                      Residence/Home
219575                       1.0                      Residence/Home
219576                       1.0                      Residence/Home

                                                BIAS_DESC  VICTIM_TYPES  \
0                          Anti-Black or African American    Individual
1                                              Anti-White    Individual
2                          Anti-Black or African American    Individual
3                                              Anti-White    Individual
4                                              Anti-White    Individual
...                                                   ...           ...
219572  Anti-Lesbian, Gay, Bisexual, or Transgender (M...    Individual
219573                                         Anti-White    Government
219574                                         Anti-White    Individual
219575                                        Anti-Female    Individual
219576                         Anti-Gender Non-Conforming    Individual

       MULTIPLE_OFFENSE MULTIPLE_BIAS
0                     S             S
1                     S             S
2                     S             S
3                     M             S
4                     S             S
...                 ...           ...
219572                S             S
219573                S             S
219574                S             S
219575                S             S
219576                S             S

[219577 rows x 28 columns]

C:\Users\jdunc\AppData\Local\Temp\ipykernel_17956\3101461282.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('US_Hate_Crimes.csv')

In [31]:
df.columns

Index(['INCIDENT_ID', 'DATA_YEAR', 'ORI', 'PUB_AGENCY_NAME', 'PUB_AGENCY_UNIT',
       'AGENCY_TYPE_NAME', 'STATE_ABBR', 'STATE_NAME', 'DIVISION_NAME',
       'REGION_NAME', 'POPULATION_GROUP_CODE', 'POPULATION_GROUP_DESC',
       'INCIDENT_DATE', 'ADULT_VICTIM_COUNT', 'JUVENILE_VICTIM_COUNT',
       'TOTAL_OFFENDER_COUNT', 'ADULT_OFFENDER_COUNT',
       'JUVENILE_OFFENDER_COUNT', 'OFFENDER_RACE', 'OFFENDER_ETHNICITY',
       'VICTIM_COUNT', 'OFFENSE_NAME', 'TOTAL_INDIVIDUAL_VICTIMS',
       'LOCATION_NAME', 'BIAS_DESC', 'VICTIM_TYPES', 'MULTIPLE_OFFENSE',
       'MULTIPLE_BIAS'],
      dtype='object')

I don't need all of these columns so here I'll clean up my data, dropping the ones that aren't needed

In [32]:
df.drop(columns=['INCIDENT_ID', 'ORI', 'PUB_AGENCY_NAME', 'PUB_AGENCY_UNIT', 'AGENCY_TYPE_NAME', 'STATE_ABBR', 'DIVISION_NAME', 'REGION_NAME', 'POPULATION_GROUP_CODE', 'POPULATION_GROUP_DESC', 'ADULT_VICTIM_COUNT', 'JUVENILE_VICTIM_COUNT', 'TOTAL_OFFENDER_COUNT', 'ADULT_OFFENDER_COUNT', 'JUVENILE_OFFENDER_COUNT', 'OFFENDER_ETHNICITY', 'VICTIM_COUNT', 'MULTIPLE_OFFENSE', 'MULTIPLE_BIAS'], inplace=True)
df.head()

,DATA_YEAR,STATE_NAME,INCIDENT_DATE,OFFENDER_RACE,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
0,1991,Arkansas,31-AUG-91,White,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual
1,1991,Arkansas,19-SEP-91,Black or African American,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
2,1991,Arkansas,04-JUL-91,Black or African American,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual
3,1991,Arkansas,24-DEC-91,Black or African American,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
4,1991,Arkansas,23-DEC-91,Black or African American,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual

Final df from this csv

In [33]:
df.loc[df['DATA_YEAR'].isin([2016, 2020])]

,DATA_YEAR,STATE_NAME,INCIDENT_DATE,OFFENDER_RACE,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
180618,2016,Alaska,12-FEB-16,White,Simple Assault,1.0,School-Elementary/Secondary,Anti-Black or African American,Individual
180619,2016,Alaska,30-OCT-16,Black or African American,Simple Assault,1.0,Service/Gas Station,Anti-Asian,Individual
180620,2016,Alaska,12-JUL-16,White,Aggravated Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual
180621,2016,Alaska,01-AUG-16,Unknown,Intimidation,1.0,Commercial/Office Building,Anti-American Indian or Alaska Native,Individual
180622,2016,Alaska,24-JAN-16,American Indian or Alaska Native,Simple Assault,1.0,Other/Unknown,Anti-White,Individual
...,...,...,...,...,...,...,...,...,...
219572,2020,Wyoming,29-NOV-20,White,Intimidation,2.0,Park/Playground,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",Individual
219573,2020,Wyoming,14-JUL-20,Unknown,Destruction/Damage/Vandalism of Property,0.0,Park/Playground,Anti-White,Government
219574,2020,Wyoming,16-OCT-20,Black or African American,Aggravated Assault,1.0,Residence/Home,Anti-White,Individual
219575,2020,Wyoming,30-JAN-20,White,Simple Assault,1.0,Residence/Home,Anti-Female,Individual
219576,2020,Wyoming,21-NOV-20,White,Theft From Building,1.0,Residence/Home,Anti-Gender Non-Conforming,Individual

Now I'll be loading the excel sheet of hate crime reporting by states for 2016 and cleaning it up

In [34]:
hc2016=pd.read_excel("Hate_Crime_Reporting_by_State_20161.xlsx")
print(hc2016.shape)
hc2016.head()

(53, 8)

,Table 12,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"Agency Hate Crime Reporting by State, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Participating state,Number of\nparticipating\nagencies,Population\ncovered,Agencies\nsubmitting\nincident\nreports,Total\nnumber of\nincidents\nreported,NaN,NaN,NaN
2,Total,15254,289814003,1776,6121,NaN,NaN,NaN
3,Alabama,28,1013839,4,14,NaN,NaN,NaN
4,Alaska,32,738566,3,11,NaN,NaN,NaN

In [35]:
hc2016.tail()

,Table 12,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
48,Virginia,419,8411424,55,122,NaN,NaN,NaN
49,Washington,253,7282106,80,387,NaN,NaN,NaN
50,West Virginia,324,1621366,19,41,NaN,NaN,NaN
51,Wisconsin,414,5652781,18,34,NaN,NaN,NaN
52,Wyoming,55,556446,1,3,NaN,NaN,NaN

Dropped row

In [36]:
hc2016.drop(labels=[0], axis=0, inplace=True)

In [37]:
hc2016.columns

Index(['Table 12', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

Renamed columns

In [38]:
fixed_columns = {
    'Table 12':'Participating State',
    'Unnamed: 1':'Number of Participating Agencies',
    'Unnamed: 2':'Population Covered 2016',
    'Unnamed: 3':'Agencies Submitting Incident Reports',
    'Unnamed: 4':'Total Number of Incidents Reported 2016'
}

hc2016.rename(columns=fixed_columns,inplace=True)
hc2016.columns

Index(['Participating State', 'Number of Participating Agencies',
       'Population Covered 2016', 'Agencies Submitting Incident Reports',
       'Total Number of Incidents Reported 2016', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7'],
      dtype='object')

Dropped a couple of unwanted rows

In [39]:
hc2016.drop(
    labels=[1],
    axis=0,
    inplace=True
    )

In [40]:
hc2016.head()

,Participating State,Number of Participating Agencies,Population Covered 2016,Agencies Submitting Incident Reports,Total Number of Incidents Reported 2016,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,Total,15254,289814003,1776,6121,NaN,NaN,NaN
3,Alabama,28,1013839,4,14,NaN,NaN,NaN
4,Alaska,32,738566,3,11,NaN,NaN,NaN
5,Arizona,85,6361910,18,213,NaN,NaN,NaN
6,Arkansas,288,2853645,5,12,NaN,NaN,NaN

In [41]:
#print(hc2016)

In [42]:
hc2016.shape

(51, 8)

Dropped unwanted columns

In [43]:
hc16 = hc2016.drop(hc2016.columns[[1, 3, 5, 6, 7]], axis=1)

Final hc2016 df

In [44]:
hc16.head()

,Participating State,Population Covered 2016,Total Number of Incidents Reported 2016
2,Total,289814003,6121
3,Alabama,1013839,14
4,Alaska,738566,11
5,Arizona,6361910,213
6,Arkansas,2853645,12

Now I'll be loading the excel sheet of hate crime reporting by states for 2020 and cleaning it up

In [45]:
hc2020=pd.read_excel("Hate_Crime_Reporting_by_State_and_Federal_2020.xlsx")
print(hc2020.shape)
hc2020.head()

(87, 5)

,Table 12,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Agency Hate Crime Reporting by State and Feder...,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Participating state/Federal,Number of\nparticipating\nagencies,Population\ncovered,Agencies\nsubmitting\nincident\nreports,Total\nnumber of\nincidents\nreported
3,Total,15138,306085895,2389,8263
4,Alabama,409,4798528,17,27

Dropped unwanted rows

In [46]:
hc2020.drop(labels=[0, 1], axis=0, inplace=True)

In [47]:
hc2020.columns

Index(['Table 12', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Renamed columns

In [48]:
fixed_columns = {
    'Table 12':'Participating State',
    'Unnamed: 1':'Number of Participating Agencies',
    'Unnamed: 2':'Population Covered 2020',
    'Unnamed: 3':'Agencies Submitting Incident Reports',
    'Unnamed: 4':'Total Number of Incidents Reported 2020'
}

hc2020.rename(columns=fixed_columns,inplace=True)
hc2020.columns

Index(['Participating State', 'Number of Participating Agencies',
       'Population Covered 2020', 'Agencies Submitting Incident Reports',
       'Total Number of Incidents Reported 2020'],
      dtype='object')

Dropped row

In [49]:
hc2020.drop(
    labels=[2],
    axis=0,
    inplace=True
    )

In [50]:
hc2020.head()

,Participating State,Number of Participating Agencies,Population Covered 2020,Agencies Submitting Incident Reports,Total Number of Incidents Reported 2020
3,Total,15138,306085895,2389,8263
4,Alabama,409,4798528,17,27
5,Alaska,32,719120,4,9
6,Arizona,81,5989615,25,280
7,Arkansas,281,2818360,8,19

In [51]:
hc2020.tail(35)

,Participating State,Number of Participating Agencies,Population Covered 2020,Agencies Submitting Incident Reports,Total Number of Incidents Reported 2020
52,West Virginia,251,1562004,23,54
53,Wisconsin,441,5824028,48,72
54,Wyoming,59,573644,8,18
55,Federal1,NaN,NaN,NaN,NaN
56,Board of Governors of the Federal Reserve Syst...,1,0,0,0
57,Central Intelligence Agency Security Protectiv...,1,0,0,0
58,Corporation for National and Community Service...,1,0,0,0
59,Defense Intelligence Agency,1,0,0,0
60,"Drug Enforcement Administration, Wilmington Re...",1,0,0,0
61,"Export-Import Bank of the United States, Offic...",1,0,0,0
62,"Federal Bureau of Investigation, Field Offices",52,0,51,209
63,Federal Emergency Management Agency,1,0,0,0
64,"Federal Housing Finance Agency, Office of Insp...",1,0,0,0
65,National Institute of Health,1,0,0,0
66,National Security Agency Police,1,0,0,0
67,"Peace Corps, Office of Inspector General",1,0,0,0
68,"Pension Benefit Guaranty Corporation, Office o...",1,0,0,0
69,Pentagon Force Protection Agency,1,0,1,3
70,"Tennessee Valley Authority, Office of Inspecto...",1,0,0,0
71,United States Agency for International Develop...,1,0,0,0
72,"United States Air Force, Office of Special Inv...",1,0,0,0
73,United States Army,1,0,0,0
74,"United States Department of Agriculture, Offic...",1,0,0,0
75,"United States Department of Defense, Office of...",1,0,0,0
76,"United States Department of Education, Office ...",1,0,0,0
77,"United States Department of Justice, Office of...",1,0,0,0
78,"United States Election Assistance Commission, ...",1,0,0,0
79,"United States Environmental Protection Agency,...",1,0,0,0
80,United States Federal Deposit Insurance Corpor...,1,0,0,0
81,United States Marine Corps Law Enforcement,1,0,1,1
82,United States National Archives and Records Ad...,1,0,0,0
83,United States Navy Law Enforcement,1,0,0,0
84,"United States Nuclear Regulatory Commission, O...",1,0,0,0
85,"United States Office of Personnel Management, ...",1,0,0,0
86,1 Population estimates are not attributed to t...,NaN,NaN,NaN,NaN

Dropped unwanted federal agency rows, keeping state data only

In [52]:
hc2020 = hc2020[:52]
hc2020.tail(10)

,Participating State,Number of Participating Agencies,Population Covered 2020,Agencies Submitting Incident Reports,Total Number of Incidents Reported 2020
45,South Dakota,128,848707,14,17
46,Tennessee,463,6886834,29,78
47,Texas,1073,29247610,131,406
48,Utah,126,3181559,23,44
49,Vermont,88,623347,28,60
50,Virginia,416,8589304,65,170
51,Washington,243,7663709,92,451
52,West Virginia,251,1562004,23,54
53,Wisconsin,441,5824028,48,72
54,Wyoming,59,573644,8,18

Dropped unwanted columns

In [53]:
hc20 = hc2020.drop(hc2020.columns[[1, 3]], axis=1)

In [54]:
hc20.head()

,Participating State,Population Covered 2020,Total Number of Incidents Reported 2020
3,Total,306085895,8263
4,Alabama,4798528,27
5,Alaska,719120,9
6,Arizona,5989615,280
7,Arkansas,2818360,19

Merging both dataframes

In [58]:
pd.merge(hc16, hc20, on="Participating State")

,Participating State,Population Covered 2016,Total Number of Incidents Reported 2016,Population Covered 2020,Total Number of Incidents Reported 2020
0,Total,289814003,6121,306085895,8263
1,Alabama,1013839,14,4798528,27
2,Alaska,738566,11,719120,9
3,Arizona,6361910,213,5989615,280
4,Arkansas,2853645,12,2818360,19
5,California,39242633,931,39361017,1339
6,Colorado,5519770,104,5754151,281
7,Connecticut,3576452,106,3557006,101
8,Delaware,952065,15,986809,13
9,District of Columbia,681170,115,712816,133
10,Florida,8988095,96,19525021,109
11,Georgia,8216137,39,7938166,195
12,Idaho,1683140,27,1819575,43
13,Illinois,12373460,111,11752377,56
14,Indiana,2874580,78,4858228,186
15,Iowa,3113786,17,3083186,15
16,Kansas,2591338,49,2586059,124
17,Kentucky,4427530,206,4472499,166
18,Louisiana,3560451,26,3491734,39
19,Maine,1331479,40,1350141,83
20,Maryland,6016447,37,6055802,40
21,Massachusetts,6637616,391,6835964,310
22,Michigan,9847710,399,9767448,377
23,Minnesota,5178985,119,5655413,194
24,Mississippi,585454,7,1306283,16
25,Missouri,6089857,88,6089883,115
26,Montana,1042048,20,1075088,26
27,Nebraska,1846626,31,1807565,72
28,Nevada,2940058,41,3128688,113
29,New Hampshire,1275170,28,1335848,19
30,New Jersey,8942857,282,8462314,389
31,New Mexico,576958,26,1114118,55
32,New York,19738790,595,19122405,463
33,North Carolina,10145637,148,9618194,185
34,North Dakota,757493,8,765309,21
35,Ohio,9573452,442,10035054,538
36,Oklahoma,3869095,33,3980783,8
37,Oregon,3547910,104,4000770,280
38,Pennsylvania,12644372,61,8190948,81
39,Rhode Island,1056426,12,1057125,14
40,South Carolina,4936962,23,5139301,110
41,South Dakota,787337,18,848707,17
42,Tennessee,6651194,142,6886834,78
43,Texas,27862596,178,29247610,406
44,Utah,3014190,66,3181559,44
45,Vermont,624594,25,623347,60
46,Virginia,8411424,122,8589304,170
47,Washington,7282106,387,7663709,451
48,West Virginia,1621366,41,1562004,54
49,Wisconsin,5652781,34,5824028,72
50,Wyoming,556446,3,573644,18

In [59]:
from vega_datasets import data
source = data.