In [73]:
import pandas as pd
import matplotlib.pyplot as plt

Loading the CSV into the dataframe

In [74]:
df = pd.read_csv('US_Hate_Crimes.csv')
print(df)

C:\Users\jdunc\AppData\Local\Temp\ipykernel_43864\3101461282.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('US_Hate_Crimes.csv')

        INCIDENT_ID  DATA_YEAR        ORI PUB_AGENCY_NAME PUB_AGENCY_UNIT  \
0              3015       1991  AR0040200          Rogers             NaN
1              3016       1991  AR0290100            Hope             NaN
2                43       1991  AR0350100      Pine Bluff             NaN
3                44       1991  AR0350100      Pine Bluff             NaN
4              3017       1991  AR0350100      Pine Bluff             NaN
...             ...        ...        ...             ...             ...
219572      1318026       2020  WY0170100        Sheridan             NaN
219573      1142103       2020  WY0210100        Evanston             NaN
219574      1318018       2020  WY0210100        Evanston             NaN
219575      1318022       2020  WY0210100        Evanston             NaN
219576      1318023       2020  WY0210100        Evanston             NaN

       AGENCY_TYPE_NAME STATE_ABBR STATE_NAME       DIVISION_NAME REGION_NAME  \
0                  City         AR   Arkansas  West South Central       South
1                  City         AR   Arkansas  West South Central       South
2                  City         AR   Arkansas  West South Central       South
3                  City         AR   Arkansas  West South Central       South
4                  City         AR   Arkansas  West South Central       South
...                 ...        ...        ...                 ...         ...
219572             City         WY    Wyoming            Mountain        West
219573             City         WY    Wyoming            Mountain        West
219574             City         WY    Wyoming            Mountain        West
219575             City         WY    Wyoming            Mountain        West
219576             City         WY    Wyoming            Mountain        West

        ...              OFFENDER_RACE      OFFENDER_ETHNICITY VICTIM_COUNT  \
0       ...                      White                     NaN            1
1       ...  Black or African American                     NaN            1
2       ...  Black or African American                     NaN            1
3       ...  Black or African American                     NaN            2
4       ...  Black or African American                     NaN            1
...     ...                        ...                     ...          ...
219572  ...                      White  Not Hispanic or Latino            2
219573  ...                    Unknown                 Unknown            1
219574  ...  Black or African American  Not Hispanic or Latino            1
219575  ...                      White  Not Hispanic or Latino            1
219576  ...                      White  Not Hispanic or Latino            1

                                             OFFENSE_NAME  \
0                                            Intimidation
1                                          Simple Assault
2                                      Aggravated Assault
3       Aggravated Assault;Destruction/Damage/Vandalis...
4                                      Aggravated Assault
...                                                   ...
219572                                       Intimidation
219573           Destruction/Damage/Vandalism of Property
219574                                 Aggravated Assault
219575                                     Simple Assault
219576                                Theft From Building

        TOTAL_INDIVIDUAL_VICTIMS                       LOCATION_NAME  \
0                            1.0  Highway/Road/Alley/Street/Sidewalk
1                            1.0  Highway/Road/Alley/Street/Sidewalk
2                            1.0                      Residence/Home
3                            1.0  Highway/Road/Alley/Street/Sidewalk
4                            1.0                 Service/Gas Station
...                          ...                                 ...
219572                       2.0                     Park/Playground
219573                       0.0                     Park/Playground
219574                       1.0                      Residence/Home
219575                       1.0                      Residence/Home
219576                       1.0                      Residence/Home

                                                BIAS_DESC  VICTIM_TYPES  \
0                          Anti-Black or African American    Individual
1                                              Anti-White    Individual
2                          Anti-Black or African American    Individual
3                                              Anti-White    Individual
4                                              Anti-White    Individual
...                                                   ...           ...
219572  Anti-Lesbian, Gay, Bisexual, or Transgender (M...    Individual
219573                                         Anti-White    Government
219574                                         Anti-White    Individual
219575                                        Anti-Female    Individual
219576                         Anti-Gender Non-Conforming    Individual

       MULTIPLE_OFFENSE MULTIPLE_BIAS
0                     S             S
1                     S             S
2                     S             S
3                     M             S
4                     S             S
...                 ...           ...
219572                S             S
219573                S             S
219574                S             S
219575                S             S
219576                S             S

[219577 rows x 28 columns]

In [75]:
df.columns

Index(['INCIDENT_ID', 'DATA_YEAR', 'ORI', 'PUB_AGENCY_NAME', 'PUB_AGENCY_UNIT',
       'AGENCY_TYPE_NAME', 'STATE_ABBR', 'STATE_NAME', 'DIVISION_NAME',
       'REGION_NAME', 'POPULATION_GROUP_CODE', 'POPULATION_GROUP_DESC',
       'INCIDENT_DATE', 'ADULT_VICTIM_COUNT', 'JUVENILE_VICTIM_COUNT',
       'TOTAL_OFFENDER_COUNT', 'ADULT_OFFENDER_COUNT',
       'JUVENILE_OFFENDER_COUNT', 'OFFENDER_RACE', 'OFFENDER_ETHNICITY',
       'VICTIM_COUNT', 'OFFENSE_NAME', 'TOTAL_INDIVIDUAL_VICTIMS',
       'LOCATION_NAME', 'BIAS_DESC', 'VICTIM_TYPES', 'MULTIPLE_OFFENSE',
       'MULTIPLE_BIAS'],
      dtype='object')

I don't need all of these columns so here I'll clean up my data, dropping the ones that aren't needed

In [76]:
df.drop(columns=['INCIDENT_ID', 'ORI', 'PUB_AGENCY_NAME', 'PUB_AGENCY_UNIT', 'AGENCY_TYPE_NAME', 'DIVISION_NAME', 'REGION_NAME', 'POPULATION_GROUP_CODE', 'POPULATION_GROUP_DESC', 'ADULT_VICTIM_COUNT', 'JUVENILE_VICTIM_COUNT', 'TOTAL_OFFENDER_COUNT', 'ADULT_OFFENDER_COUNT', 'JUVENILE_OFFENDER_COUNT', 'OFFENDER_ETHNICITY', 'VICTIM_COUNT', 'MULTIPLE_OFFENSE', 'MULTIPLE_BIAS'], inplace=True)
df.head()

,DATA_YEAR,STATE_ABBR,STATE_NAME,INCIDENT_DATE,OFFENDER_RACE,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
0,1991,AR,Arkansas,31-AUG-91,White,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual
1,1991,AR,Arkansas,19-SEP-91,Black or African American,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
2,1991,AR,Arkansas,04-JUL-91,Black or African American,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual
3,1991,AR,Arkansas,24-DEC-91,Black or African American,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
4,1991,AR,Arkansas,23-DEC-91,Black or African American,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual

Now I'll be loading the excel sheets of hate crime reporting by states for 2016 & 2020 and cleaning them up

In [77]:
hc2016=pd.read_excel("Hate_Crime_Reporting_by_State_20161.xlsx")
print(hc2016.shape)
hc2016.head()

(53, 8)

,Table 12,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"Agency Hate Crime Reporting by State, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Participating state,Number of\nparticipating\nagencies,Population\ncovered,Agencies\nsubmitting\nincident\nreports,Total\nnumber of\nincidents\nreported,NaN,NaN,NaN
2,Total,15254,289814003,1776,6121,NaN,NaN,NaN
3,Alabama,28,1013839,4,14,NaN,NaN,NaN
4,Alaska,32,738566,3,11,NaN,NaN,NaN

In [78]:
hc2016.tail()

,Table 12,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
48,Virginia,419,8411424,55,122,NaN,NaN,NaN
49,Washington,253,7282106,80,387,NaN,NaN,NaN
50,West Virginia,324,1621366,19,41,NaN,NaN,NaN
51,Wisconsin,414,5652781,18,34,NaN,NaN,NaN
52,Wyoming,55,556446,1,3,NaN,NaN,NaN

In [79]:
hc2016.drop(labels=[0], axis=0, inplace=True)

In [80]:
hc2016.columns

Index(['Table 12', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [81]:
fixed_columns = {
    'Table 12':'Participating State',
    'Unnamed: 1':'Number of Participating Agencies',
    'Unnamed: 2':'Population Covered',
    'Unnamed: 3':'Agencies Submitting Incident Reports',
    'Unnamed: 4':'Total Number of Incidents Reported'
}

hc2016.rename(columns=fixed_columns,inplace=True)
hc2016.columns

Index(['Participating State', 'Number of Participating Agencies',
       'Population Covered', 'Agencies Submitting Incident Reports',
       'Total Number of Incidents Reported', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7'],
      dtype='object')

In [82]:
hc2016.drop(
    labels=[1],
    axis=0,
    inplace=True
    )

In [ ]:
hc2016.head()

In [83]:
#print(hc2016)

     Participating State Number of Participating Agencies Population Covered  \
2                  Total                            15254          289814003
3                Alabama                               28            1013839
4                 Alaska                               32             738566
5                Arizona                               85            6361910
6               Arkansas                              288            2853645
7             California                              733           39242633
8               Colorado                              229            5519770
9            Connecticut                              106            3576452
10              Delaware                               63             952065
11  District of Columbia                                2             681170
12               Florida                               46            8988095
13               Georgia                              493            8216137
14                 Idaho                              111            1683140
15              Illinois                              738           12373460
16               Indiana                              164            2874580
17                  Iowa                              241            3113786
18                Kansas                              343            2591338
19              Kentucky                              405            4427530
20             Louisiana                              139            3560451
21                 Maine                              199            1331479
22              Maryland                              154            6016447
23         Massachusetts                              351            6637616
24              Michigan                              625            9847710
25             Minnesota                              331            5178985
26           Mississippi                               26             585454
27              Missouri                              612            6089857
28               Montana                              109            1042048
29              Nebraska                              235            1846626
30                Nevada                               51            2940058
31         New Hampshire                              174            1275170
32            New Jersey                              507            8942857
33            New Mexico                               18             576958
34              New York                              584           19738790
35        North Carolina                              528           10145637
36          North Dakota                              108             757493
37                  Ohio                              562            9573452
38              Oklahoma                              355            3869095
39                Oregon                              170            3547910
40          Pennsylvania                             1463           12644372
41          Rhode Island                               49            1056426
42        South Carolina                              440            4936962
43          South Dakota                              112             787337
44             Tennessee                              463            6651194
45                 Texas                             1097           27862596
46                  Utah                              130            3014190
47               Vermont                               90             624594
48              Virginia                              419            8411424
49            Washington                              253            7282106
50         West Virginia                              324            1621366
51             Wisconsin                              414            5652781
52               Wyoming                               55             556446

   Agencies Submitting Incident Reports Total Number of Incidents Reported  \
2                                  1776                               6121
3                                     4                                 14
4                                     3                                 11
5                                    18                                213
6                                     5                                 12
7                                   213                                931
8                                    37                                104
9                                    42                                106
10                                    8                                 15
11                                    2                                115
12                                   44                                 96
13                                    6                                 39
14                                   14                                 27
15                                   42                                111
16                                   24                                 78
17                                   12                                 17
18                                   30                                 49
19                                   79                                206
20                                   10                                 26
21                                   14                                 40
22                                   10                                 37
23                                   84                                391
24                                  166                                399
25                                   34                                119
26                                    4                                  7
27                                   24                                 88
28                                   10                                 20
29                                    7                                 31
30                                    4                                 41
31                                   19                                 28
32                                  117                                282
33                                    2                                 26
34                                   72                                595
35                                   41                                148
36                                    6                                  8
37                                  115                                442
38                                   22                                 33
39                                   28                                104
40                                   20                                 61
41                                   10                                 12
42                                   21                                 23
43                                   12                                 18
44                                   55                                142
45                                   66                                178
46                                   32                                 66
47                                   15                                 25
48                                   55                                122
49                                   80                                387
50                                   19                                 41
51                                   18                                 34
52                                    1                                  3

    Unnamed: 5  Unnamed: 6 Unnamed: 7
2          NaN         NaN        NaN
3          NaN         NaN        NaN
4          NaN         NaN        NaN
5          NaN         NaN        NaN
6          NaN         NaN        NaN
7          NaN         NaN        NaN
8          NaN         NaN        NaN
9          NaN         NaN        NaN
10         NaN         NaN        NaN
11         NaN         NaN        NaN
12         NaN         NaN
13         NaN         NaN        NaN
14         NaN         NaN        NaN
15         NaN         NaN        NaN
16         NaN         NaN        NaN
17         NaN         NaN        NaN
18         NaN         NaN        NaN
19         NaN         NaN        NaN
20         NaN         NaN        NaN
21         NaN         NaN        NaN
22         NaN         NaN        NaN
23         NaN         NaN        NaN
24         NaN         NaN        NaN
25         NaN         NaN        NaN
26         NaN         NaN        NaN
27         NaN         NaN        NaN
28         NaN         NaN        NaN
29         NaN         NaN        NaN
30         NaN         NaN        NaN
31         NaN         NaN        NaN
32         NaN         NaN        NaN
33         NaN         NaN        NaN
34         NaN         NaN        NaN
35         NaN         NaN        NaN
36         NaN         NaN        NaN
37         NaN         NaN        NaN
38         NaN         NaN        NaN
39         NaN         NaN        NaN
40         NaN         NaN        NaN
41         NaN         NaN        NaN
42         NaN         NaN        NaN
43         NaN         NaN        NaN
44         NaN         NaN        NaN
45         NaN         NaN        NaN
46         NaN         NaN        NaN
47         NaN         NaN        NaN
48         NaN         NaN        NaN
49         NaN         NaN        NaN
50         NaN         NaN        NaN
51         NaN         NaN        NaN
52         NaN         NaN        NaN

In [85]:
hc2016.shape

(51, 8)